<h2 class="flex flex-col place-items-center mt-20 font-bold">パスワードの再設定</h2>

<div class="flex flex-col items-center mx-auto">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="container flex flex-col items-center mx-auto">
    <div class="field mb-5">
      <%= f.label :password, '新しいパスワード' %><br />
      <% if @minimum_password_length %>
        <span class="text-xs text-gray-500"><%= @minimum_password_length %>文字以上</span><br />
      <% end %>
      <%= f.password_field :password, autofocus: true, class: "border-2 border-black mt-3", autocomplete: "new-password" %>
    </div>

    <div class="field mb-5">
      <%= f.label :password_confirmation, '新しいパスワード（確認）' %><br />
      <%= f.password_field :password_confirmation, class: "border-2 border-black mt-3", autocomplete: "new-password" %>
    </div>

    <div class="actions flex items-center gap-4">
      <%= f.submit "パスワードを変更する", class: "py-1 px-3 border-2 border-black rounded cursor-pointer transition duration-150 active:scale-95 active:bg-gray-200" %>
      <%= link_to "ログインに戻る", new_user_session_path, class: "text-sm text-gray-500 hover:underline" %>
    </div>
  </div>
  <% end %>
</div>
